RewriteEngine on
    RewriteBase /
    RewriteRule ^v/1(.*)$           /pages/trainer1.html                             [L]
    RewriteRule ^v/2(.*)$           /pages/trainer2.html                             [L]
    RewriteRule ^v/3(.*)$           /pages/trainer3.html                             [L]
    RewriteRule ^style/(.*)$        /css/$1                                          [L]
    RewriteRule ^script/(.*)$       /js/$1                                           [L]
    RewriteRule ^$                  /pages/cat.html

ErrorDocument 404 /pages/cat.html