#sizer {
    background: $white;

    .input-container {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    a {
        background: $bg-h;
    }

    input[type='number'] {
        -moz-appearance:textfield;
        outline: none;
    }
    
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    button {
        border: none;
        outline: none;
        background: $bg-h;
    }

    
}

@media (orientation: landscape) {
    #sizer {
        width: 550px;
        margin: 100px auto;
        padding: 25px;
        border-radius: 45px;

        p {
            @include font(18px, 700, $logo, 22px, 0.7px);
            margin-bottom: 10px;
        }

        h2 {
            @include font(22px, 700, $white, 43px, 0.7px);
            background: $bg-h;
            border-radius: 100px;
            padding-left: 19px;
            margin-bottom: 40px;
        }

        .input-container{
            width: 230px;
            margin-bottom: 30px;
        }

        input {
            height: 25px;
            padding: 5px 19px;
            @include font(18px, 700, $logo, 22px, 0.7px);
            border: 2px solid $bg;
            border-radius: 5px;
            width: 100px;
        }

        input:hover {
            border: 2px solid $bg-h;
        }

        a {
            text-decoration: none;
            @include font(25px, 700, $white, 25px, 0.7px);
            width: 40px;
            text-align: center;
            padding-top: 7px;
        }

        a:first-child {
            padding-top: 4px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
        }

        a:last-child {
            padding-top: 7px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
        }

        a:hover {
            background: $logo;
        }

        button {
            @include font(18px, 700, $white, 46px, 0.7px);
            border-radius: 50px;
            width: 170px;
            margin-left: 180px;
        }

        button:hover {
            background: $logo;
        }
    }
}

@media (orientation: portrait) {
    #sizer {
        a:active {
            background: $logo;
        }

        button:active {
            background: $logo;
        }
    }
}