$bg: #dddce5 !default;
$white: #ffffff !default;
$bg-h: #b0b0bf !default;
$logo: #606779 !default;
$not-hover: #81819b !default;

@font-face {
    font-family: Montserrat, sans-serif;
    src: url("font/Montserrat/Montserrat-Regular.ttf");
}